{{#useLayout "layout/main"}}
{{convertMD
"
# Another Hello Example Test
{{customHelper}} (handlebars) inside convertMD inside an HBS file **_(Inception)_**
## Testing Another Header test
"
}}
{{convertMD (customHelper)}}
<h1>{{hello}}</h1>
{{mdfile "md/index.md"}}
{{/useLayout}}